In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Create DataFrame from output_json file for laptop

df = pd.read_json('search_output_smartphone.jsonl')
df

,title,url,rating,review_count,price
0,"6.8 Inch Unlocked Smartphones,Xgody K30 Androi...",https://www.amazon.com/gp/slredirect/picassoRe...,2.9 out of 5 stars,536,$83.99
1,"Xgody Mate40 Smartphone Unlocked, 6.72” HD Per...",https://www.amazon.com/gp/slredirect/picassoRe...,3.1 out of 5 stars,40,$67.99
2,"TCL 20 SE 6.82"" Unlocked Cellphone, 4GB RAM + ...",https://www.amazon.com/gp/slredirect/picassoRe...,4.2 out of 5 stars,196,$189.99
3,"Xiaomi POCO M3 Smartphone, 4 GB + 128 GB, 6.53...",https://www.amazon.com/Xiaomi-POCO-M3-Smartpho...,4.7 out of 5 stars,375,None
4,TCL 20 Pro 5G Unlocked Android Smartphone with...,https://www.amazon.com/TCL-Unlocked-Smartphone...,4.5 out of 5 stars,47,$529.99
...,...,...,...,...,...
2436,"Unlocked Android Phones, CUBOT X19 Unlocked Ce...",https://www.amazon.com/gp/slredirect/picassoRe...,3.7 out of 5 stars,632,$119.99
2437,"Xgody S20 Lite Unlocked Smartphone, Dual Sim U...",https://www.amazon.com/gp/slredirect/picassoRe...,3.0 out of 5 stars,29,$70.99
2438,"Rugged Smartphone Unlocked, Ulefone Armor 8 Pr...",https://www.amazon.com/gp/slredirect/picassoRe...,3.6 out of 5 stars,7,$249.99
2439,Uleway 3G Flip Phone for Seniors Prepaid Flip ...,https://www.amazon.com/gp/slredirect/picassoRe...,3.5 out of 5 stars,240,$55.99
2440,"Xgody Mate40 Smartphone Unlocked, 6.72” HD Per...",https://www.amazon.com/gp/slredirect/picassoRe...,3.1 out of 5 stars,40,$68.99

## Performing following operations on the DataFrame
- Checking data type for the columns
- Price column: remove '$' and ',', also change the type to float
- Review_count cloumn: remove ',', also change the type to float
- Rating column: Extract ONLY product rating form the column

- Check null values for the columns. Remove rows without price, rating and review_count
- Remove duplicate rows

- Add Product column and write 'processor' in it

In [3]:
df = df.drop_duplicates(subset=['title'])
df

,title,url,rating,review_count,price
0,"6.8 Inch Unlocked Smartphones,Xgody K30 Androi...",https://www.amazon.com/gp/slredirect/picassoRe...,2.9 out of 5 stars,536,$83.99
1,"Xgody Mate40 Smartphone Unlocked, 6.72” HD Per...",https://www.amazon.com/gp/slredirect/picassoRe...,3.1 out of 5 stars,40,$67.99
2,"TCL 20 SE 6.82"" Unlocked Cellphone, 4GB RAM + ...",https://www.amazon.com/gp/slredirect/picassoRe...,4.2 out of 5 stars,196,$189.99
3,"Xiaomi POCO M3 Smartphone, 4 GB + 128 GB, 6.53...",https://www.amazon.com/Xiaomi-POCO-M3-Smartpho...,4.7 out of 5 stars,375,None
4,TCL 20 Pro 5G Unlocked Android Smartphone with...,https://www.amazon.com/TCL-Unlocked-Smartphone...,4.5 out of 5 stars,47,$529.99
...,...,...,...,...,...
2352,LG Motion 4G LTE Prepaid Android Phone (MetroPCS),https://www.amazon.com/LG-Motion-Prepaid-Andro...,4.4 out of 5 stars,299,$128.52
2353,Blu LIFE 8 Unlocked (Pink),https://www.amazon.com/Blu-LIFE-8-Unlocked-Pin...,3.7 out of 5 stars,387,$194.03
2354,Blu Dash 5.5 Unlocked (Blue),https://www.amazon.com/Blu-Dash-5-5-Unlocked-B...,4.0 out of 5 stars,131,$166.12
2355,"Nokia Lumia 920, Black 32GB (AT&T)",https://www.amazon.com/Nokia-Lumia-920-Black-3...,3.8 out of 5 stars,494,$299.99
2356,"Samsung Galaxy Rugby Pro, Black 8GB (AT&T)",https://www.amazon.com/Samsung-Galaxy-Rugby-Pr...,4.1 out of 5 stars,139,$414.42

In [4]:
# Checking the data type

df.dtypes

title           object
url             object
rating          object
review_count    object
price           object
dtype: object

In [5]:
df.isnull().sum()

title              0
url                0
rating             0
review_count       0
price           1002
dtype: int64

In [6]:
df = df.dropna()

In [7]:
df.isnull().sum()

title           0
url             0
rating          0
review_count    0
price           0
dtype: int64

In [8]:
df.shape

(545, 5)

In [ ]:
# Price column: remove '$' and ',', also change the type to float

df['price'] = df['price'].str.replace(',', '')
df['price'] = df['price'].str.replace('$', '')
df['price'] = df['price'].astype(float)

In [ ]:
# Review_count cloumn: remove ',', also change the type to float

df['review_count'] = df['review_count'].str.replace(',', '')
df['review_count'] = df['review_count'].astype(float)
df['review_count'] = df['review_count'].astype(int)

In [ ]:
# Rating column: Extract ONLY product rating form the column

df.rating = df.rating.astype('category')
df['rating'] = df['rating'].str.extract("(\d*\.?\d+)", expand=True)

In [ ]:
df.dtypes

In [ ]:
df

In [ ]:
df.groupby(['title'])['rating'].count().sort_values(ascending = False)

In [ ]:
#df[df['title']=='Nokia G10 | Android 11 | Unlocked Smartphone | 3-Day Battery | Dual SIM | US Version | 3/32GB | 6.52-Inch Screen | 13MP Triple Camera | Dusk'].sort_values(by='title', ascending=False)

In [ ]:
#df = df.drop_duplicates(subset=['title'])
#df

In [ ]:
# Inserting 'product name' column at the start

df.insert(0, 'Product', 'Smartphone')

In [ ]:
df